:root {
    --font-title: 'PT Serif', serif;
    --font-body: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-body);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#map {
    width: 75vw;
    max-width: calc(100vw - 400px);
    height: 100vh;
}

aside {
    width: 25vw;
    min-width: 400px;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.filter__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
    .filter__item > label {
        width: 100%;
        margin-bottom: 5px;
    }
    .filter__item input[type="number"] {
        text-align: right;
    }
    .filter__sufix {
        font-size: .75rem;
        display: flex;
        align-items: flex-end;
        margin-left: 5px;
    }

aside footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

aside footer ul {
    padding: 0;
    list-style: none;
}
aside footer ul li {
    font-size: .85rem;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-title);
}

i[class*="icon-"] {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    background-repeat: no-repeat;
}

.icon-square {
    background-image: linear-gradient(transparent,transparent),url('https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/spritesheet.svg');
    background-position: -62px -2px;
    background-size: 300px 30px;
    background-clip: padding-box;
}